*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #dfdfdf;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 26rem;
  align-items: center;
}
