*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @media (max-width: 95.875em) {
    font-size: 60%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e6dfdf;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36rem;
}
