*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #e6dfdf;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 31rem;
  align-items: center;
}

main {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 36rem;
}
