.header {
  align-self: stretch;
  height: 100vh;
  background-image: linear-gradient(
    rgba($black-color, 0.3),
    rgba($black-color, 0.3)
  );
  overflow: hidden;
  position: relative;

  &-video {
    // top: 0;
    // left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  &__nav {
    background-color: $primary-background;
    padding: 2rem 10rem;

    &-list {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 7rem;
      position: relative;

      &-item {
        font-size: 2rem;
        transform: scale(1);
        color: $primary-text-color;
        transition: all 0.3s;
        cursor: pointer;

        &:nth-child(4) {
          color: $primary-text-color;
          margin-left: auto;
          display: block;
          transform: translateX(25%);

          &:hover {
            transform: scale(1.2) translateX(25%);
            & a {
              padding: 1rem 3rem;
            }
          }
        }

        &:not(:nth-child(4)):not(:nth-child(5)) {
          border-bottom: 1px solid transparent;

          &:hover {
            transform: scale(1.2);
            border-bottom: 1px solid $primary-text-color;
          }
        }
      }

      &-item:nth-child(5) {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 3.6rem;
        border-bottom: 1px solid transparent;

        & span {
          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;
          background-color: red;
          padding: 0.25rem 0.7rem;
          border-radius: 100rem;
          font-size: 1.5rem;
          font-weight: 700;
          position: absolute;
          right: 0%;
          top: 0%;
          transform: translate(50%, -30%);
        }

        &:hover {
          border-bottom: 1px solid transparent;
          transform: scale(1);
          color: antiquewhite;
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: left;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 57.875em) {
      width: 100%;
    }

    &-p {
      color: $primary-text-color-dark;
      font-size: 1.8rem;
      line-height: 1.5;
      width: 80%;
    }
    a {
      align-self: flex-start;
      font-size: 1.6rem;
      color: $primary-text-color-dark;
      border-bottom: 1px solid $primary-text-color-dark;
      padding-bottom: 0.5rem;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
