.header {
  align-self: stretch;
  height: 100vh;
  background-image: linear-gradient(
    rgba($black-color, 0.3),
    rgba($black-color, 0.3)
  );
  overflow: hidden;
  position: relative;

  &-video {
    // top: 0;
    // left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  &__nav {
    background-color: $primary-background;
    padding: 2rem 10rem;
    position: relative;

    @media (max-width: 50.75em) {
      background-color: transparent;
      z-index: 1000;

      position: fixed;
      top: 5%;
      left: 0%;
      width: 100%;
    }

    &-mobile {
      position: fixed;
      top: 5%;
      right: 5%;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: #e6dfdf;
      z-index: 1000;
      font-size: 4.6rem;
      transform: translateY(-50%);
      cursor: pointer;

      @media (min-width: 50.75em) {
        display: none;
      }
    }

    &-list {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 7rem;
      position: relative;

      @media (max-width: 50.75em) {
        position: fixed;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100vh;
        top: 0%;
        right: 0%;
        z-index: 10000;
        backdrop-filter: blur(1rem);
        background-color: rgba($color: #000000, $alpha: 0.9);
        flex-direction: column;
        justify-content: center;
        transition: all 0.3s;
      }

      &-visible {
        opacity: 1;
        visibility: visible;
      }

      &-item {
        font-size: 2rem;
        transform: scale(1);
        color: $primary-text-color;
        transition: all 0.3s;
        cursor: pointer;

        @media (max-width: 50.75em) {
          font-size: 4rem;
        }

        &:nth-child(4) {
          color: $primary-text-color;
          margin-left: auto;
          display: block;
          transform: translateX(25%);

          @media (max-width: 50.75em) {
            margin: 0;
            transform: translateX(0%);
          }

          & a {
            @media (max-width: 50.75em) {
              font-size: 4rem;
            }
          }

          @media (min-width: 50.75em) {
            &:hover {
              transform: scale(1.2) translateX(25%);
              & a {
                padding: 1rem 3rem;
              }
            }
          }
        }

        &:not(:nth-child(4)):not(:nth-child(5)) {
          border-bottom: 1px solid transparent;

          &:hover {
            transform: scale(1.2);
            border-bottom: 1px solid $primary-text-color;
          }
        }
      }

      &-item:nth-child(5) {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 3.6rem;
        border-bottom: 1px solid transparent;

        @media (max-width: 50.75em) {
          font-size: 5rem;
        }

        & span {
          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;
          background-color: red;
          padding: 0.25rem 0.7rem;
          border-radius: 100rem;
          font-size: 1.5rem;
          font-weight: 700;
          position: absolute;
          right: 0%;
          top: 0%;
          transform: translate(50%, -30%);
        }

        &:hover {
          border-bottom: 1px solid transparent;
          transform: scale(1);
          color: antiquewhite;
        }
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: left;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 70.375em) {
      width: 80%;
    }

    @media (max-width: 44.4375em) {
      width: 90%;
    }

    @media (max-width: 30.875em) {
      width: 100%;
      align-items: center;
      text-align: center;
    }

    &-h1 {
      @media (max-width: 44.4375em) {
        font-size: 6.2rem;
      }

      @media (max-width: 23.25em) {
        font-size: 5.2rem;
      }
    }

    &-p {
      color: $primary-text-color-dark;
      font-size: 1.8rem;
      line-height: 1.5;
      width: 80%;

      @media (max-width: 44.4375em) {
        font-size: 1.6rem;
      }
    }
    a {
      align-self: flex-start;
      font-size: 1.6rem;
      color: $primary-text-color-dark;
      border-bottom: 1px solid $primary-text-color-dark;
      padding-bottom: 0.5rem;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid transparent;
      }

      @media (max-width: 30.875em) {
        align-self: center;
      }
    }
  }
}
