.Offert {
  &__container {
    width: 75%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 77.0625em) {
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }

    @media (max-width: 44.4375em) {
      width: 90%;
    }

    @media (max-width: 27.5em) {
      width: 90%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 32%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s;

    @media (max-width: 77.0625em) {
      width: 50%;
    }

    @media (max-width: 44.4375em) {
      width: 70%;
    }

    @media (max-width: 27.5em) {
      width: 100%;
    }

    &-h3 {
      font-size: 3.6rem;
      margin: 2rem 0rem 4rem 0.5rem;
    }

    &__list {
      margin-left: 1rem;
      align-self: flex-start;
      list-style: none;

      display: flex;
      flex-direction: column;
      gap: 1rem;
      &-item {
        font-size: 2rem;
        display: flex;
        align-items: center;
      }
    }

    &-button {
      align-self: center;
      font-size: 2rem;
      color: $primary-text-color;

      margin: 5rem 0rem 3rem 0rem;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-images {
      height: 25rem;
      align-self: stretch;

      &-1 {
        background: url("../../assets/img/food1.jpg") center/cover;
      }

      &-2 {
        background: url("../../assets/img/music1.jpg") center/cover;
      }

      &-3 {
        background: url("../../assets/img/intergration1.jpg") center/cover;
      }
    }
  }

  &__item:hover {
    transform: translateY(-1rem);
  }

  &-emojis {
    transform: rotate(90deg);
    font-size: 2.6rem;
    margin-right: 1rem;
    color: $secondary-background;
  }
}
