$primary-text-color: #f0f0f0;
$primary-text-color-dark: #dfdfdf;

$primary-background: rgb(29, 29, 29);

$black-color: #000;
$black-white: #fff;

$primary-button-padding: 1rem 2rem;

$button-border-radius: 100rem;
